:host {
  display: block;
  --background-color: #f2f2f2;
  --border-color:#ccc;
  --button-background-color: #4CAF50;
  --button-text-color: #fff;
}

.wc-form-wrapper{
  border-radius: 5px;
  background-color: var(--background-color);
  padding: 20px;
}

.wc-input{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid var(--border-color);
  border-radius: 4px;
  box-sizing: border-box;
}

.wc-action-button{
  width: 100%;
  background-color: var(--button-background-color);
  color: var(--button-text-color);
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}